<form action="/updateExercise/{{ exercise.id }}" method="POST" hx-post="/updateExercise/{{ exercise.id }}"
    hx-target="this" hx-swap="outerHTML">
    <input type="text" name="name" placeholder="Exercise Name" value="{{ exercise.name }}" required>
    <input type="number" name="sets" placeholder="Sets" value="{{ exercise.sets }}" required min="1">
    <input type="number" name="reps" placeholder="Reps" value="{{ exercise.reps }}" required min="1">
    <input type="number" name="weight" placeholder="Weight" value="{{ exercise.weight or 0 }}" required min="0">
    <input type="text" name="notes" placeholder="Notes" value="{{ exercise.notes }}">
    <button type="submit">Submit</button>
    <button type="button" onclick="location.reload()">Cancel</button>
</form>
